.main {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    box-sizing: border-box;
}

.boxWrapper {
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    margin-top: 3%;
    margin-bottom: 10%;
}

.hrMid {
    position: relative;
    width: 50%;
    left: 25%;
}

.allData {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.list {
    background-color: #DFD3C3;
    margin: 0.5%;
    padding: 2%;
    width: 24%;
    height: 350px;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
}

.upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    flex-wrap: wrap;
    padding: 10%;
    background-color: white;
}

.id {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}

.head {
    width: 100%;

}

.status {
    position: relative;
    width: 100%;
    display: flex;
    color: #8B7E74;
    justify-content: space-around;
}

.navigation {
    display: flex;
    gap: 1%;
    padding-top: 2%;
    justify-content: space-between;
}

.createTodo {
    display: flex;
    padding-left: 1%;
    color: #8B7E74;
}

.lineB {
    width: 100%;
}

.inputCB {
    width: 20px;
    margin-bottom: 8px;
}

.deleteChange {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.change {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 7px;
}

.delete {
    display: flex;
    flex-direction: row;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile {
    margin-right: 5%;
    margin-top: 20px;
}

.logOut {
    margin-top: 20px;
    color: white;
}

#buttonLogOut {
    border-radius: 10%;
    background-color: #8B7E74;
    color: white;

}


@media only screen and (min-width: 375px) and (max-width: 763px) {
    .boxWrapper {
        /* box-sizing: border-box; */
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        margin-top: 3%;
        margin-bottom: 10%;
    }
    .hrMid {
        position: relative;
        width: 50%;
        left: 25%;
    }
    .list {
        background-color: #DFD3C3;
        margin: 0.5%;
        padding: 2%;
        width: 49%;
        height: 300px;
        box-sizing: border-box;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
    }

    .upper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 75%;
        padding: 10%;
        background-color: white;
    }
    .id {
        width: 100%;
        height: 10%;
        margin-bottom: 20px;
    }
    .head {
        width: 100%;
    }

    .status {
        position: relative;
        width: 100%;
        display: flex;
        color: #8B7E74;;
    }
    .navigation {
        display: flex;
        gap: 1%;
        padding-top: 2%;
        justify-content: space-between;
    }
    .createTodo {
        display: flex;
        color: #8B7E74;
    }
    .lineB {
        width: 100%;
    }
    .inputCB {
        width: 15px;
        margin-bottom: 13px;
    }
    .deleteChange {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .change {
        display: flex;
        flex-direction: row;
        margin-left: 15%;
        margin-right: 7px;
    }

    .delete {
        display: flex;
        flex-direction: row;
    }

    .navBar {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .profile {
        margin-right: 5%;
        margin-top: 20px;
    }

    .logOut {
        margin-top: 20px;     
    }
    #buttonLogOut {
        border-radius: 10%;
    }
}

